body { /*Gives the page a background*/
  background-image: url("/img/gayzone-bckgd.png");
  background-attachment: scroll;
  background-position: right top;
}

.header {
  width: 75	%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

/*Navbar CSS*/
#navbar{
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
  overflow: hidden;
  margin: center;
}

li { /*Makes a horizontal navbar*/
  display: block;
  float: left;
}

li a { /*Basic list CSS*/
  display: block;
  width: 150px;
  text-align: center;
  font-size: 30px;
  padding: 10px 8px;
  color: black;
  background-color: #f7c2ff; /*Normal color*/
  text-decoration: none;
  border: 2px solid;
}

li a:hover { /*Hovering over a link in list*/
	color: #f2f2f2;
	background-color: #ee80ff;
}

li a:hover.transtxt{ /*Specifically when user hovers over object with class transtxt*/
  background: -webkit-linear-gradient(#55CDFC, #F7A8B8);
}

.active{ /*Background for navbar button with class active*/
  background-color: #995aa3;
  color: white;
}

/*content*/

#left1-text {
  position: absolute;
  font-family: Helvetica, sans-serif;
  background-color: #ededed;
}