.unselectable {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.home {
  background-color: #ededed;
  border: 2px solid black;
  border-radius: 5px;
}
.testtxt {
  position: relative;
  left: 30px;
}