/*WIP*/
body {
	background-color: #dbdbdb;
}

/*Navbar CSS*/
#navbar{
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
  overflow: hidden;
  margin: center;
}

li { /*Makes a horizontal navbar*/
  display: block;
  float: left;
}

li a { /*Basic list CSS*/
  display: block;
  width: 150px;
  text-align: center;
  font-size: 30px;
  padding: 10px 8px;
  color: black;
  background-color: #dbdbd9; /*Normal color*/
  text-decoration: none;
  border: 2px solid;
}

li a:hover { /*Hovering over a link in list*/
	color: #f2f2f2;
	background-color: #b0b0b0;
}

.active{ /*Background for navbar button with class active*/
  background-color: #575757;
  color: white;
}
/*I honestly don't know what's going on anymore and am becoming scared*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "top top top"
    "pageContent pageContent sidebar"
    "pageContent pageContent sidebar";
}

.top { grid-area: top; }

.sidebar { grid-area: sidebar; }

.pageContent { grid-area: pageContent; }
