/*WIP*/
body {
	background-color: #dbdbdb;
}

/*Navbar CSS*/
#navbar{
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
  overflow: hidden;
  margin: center;
}

li { /*Makes a horizontal navbar*/
  display: block;
  float: left;
}

li a { /*Basic list CSS*/
  display: block;
  width: 150px;
  text-align: center;
  font-size: 30px;
  padding: 10px 8px;
  color: black;
  background-color: #dbdbd9; /*Normal color*/
  text-decoration: none;
  border: 2px solid;
}

li a:hover { /*Hovering over a link in list*/
	color: #f2f2f2;
	background-color: #b0b0b0;
}

.active{ /*Background for navbar button with class active*/
  background-color: #575757;
  color: white;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}